@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-card-blue: #1e40af;
    --color-card-yellow: #facc15;

    --color-bg-main: #f8fafc;
    --color-bg-secondary: #e2e8f0;
    
    --color-primary: #3b82f6;
    --color-primary-hover: #2563eb;
    
    --color-text-main: #1e293b;
    
    --color-success: #22c55e;
    --color-error: #ef4444;
  }

  body {
    font-family: 'Poppins', sans-serif;
    @apply bg-[var(--color-bg-main)] text-[var(--color-text-main)] antialiased overflow-hidden;
  }
}